<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>My Movie Watchlist</title>
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
			integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" type="text/css" href="/styles/main.css" />
	</head>
	<body>
		<%- include('partials/navbar') %>
		<section class="bg-light">
			<div class="container-fluid overflow-hidden m-0 p-0">
				<div class="row">
					<!-- Text Column (Left for desktop, top for mobile) -->
					<div
						class="col-12 col-md-6 order-1 order-md-0 align-self-md-end"
					>
						<div
							class="row py-3 py-sm-5 py-xl-9 mt-md-10 justify-content-sm-center"
						>
							<div class="col-12 col-sm-10">
								<h2 class="display-2 fw-bolder mb-4">
									Welcome to My Watch List
								</h2>
								<div class="col-12 col-xxl-8">
									<p class="fs-5 mb-5">
										An application to search and create
										lists of films you would like to watch
										one day.
									</p>
								</div>
								<form action="/results" method="GET">
									<!-- Floating label form input for searching movies -->
									<div class="form-floating mb-3">
										<input
											type="text"
											name="query"
											class="form-control"
											id="floatingInputValue"
											placeholder="Search for your movies here..."
											required
										/>
										<!-- <label for="floatingInputValue"
											>Search for movies here</label
										> -->
									</div>
									<!-- Search Button -->
									<div class="d-grid gap-2 d-sm-flex">
										<button
											type="submit"
											class="btn btn-primary btn-login text-uppercase fw-bold"
										>
											Search
										</button>
									</div>
								</form>
							</div>
						</div>
					</div>

					<!-- Image Column (Right for desktop, bottom for mobile) -->
					<div class="col-12 col-md-6 p-0">
						<img
							class="img-fluid w-100 h-100 object-fit-cover"
							loading="lazy"
							src="images/sean-benesh-6Nbo9Pn0yJA-unsplash.jpg"
							alt="Movie Store"
						/>
					</div>
				</div>
			</div>
		</section>
		<%- include ('partials/footer') %>
		<!-- <div class="container mt-4">
			<h1>Welcome to My Watch List</h1>
			<p>
				An application to search and create lists of films you would
				like to watch one day.
			</p>
			<div>
				<h2>Search for your movie here</h2>
				<div>
					<form action="/results" method="GET">
						<input
							type="text"
							name="query"
							placeholder="Search for a movie"
							required
						/>
						<button type="submit">Search</button>
					</form>
				</div>
			</div>
		</div> -->
	</body>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</html>
